.kenburns-top-left {
	-webkit-animation: kenburns-top-left 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-top-left 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, -15px);
            transform: scale(1.65) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, -15px);
            transform: scale(1.65) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}



.kenburns-top {
	-webkit-animation: kenburns-top 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-top 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translateY(-15px);
            transform: scale(1.65) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translateY(-15px);
            transform: scale(1.65) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}



.kenburns-top-right {
	-webkit-animation: kenburns-top-right 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-top-right 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(20px, -15px);
            transform: scale(1.65) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(20px, -15px);
            transform: scale(1.65) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}





.kenburns-bottom-left {
	-webkit-animation: kenburns-bottom-left 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-bottom-left 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, 15px);
            transform: scale(1.65) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, 15px);
            transform: scale(1.65) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}




.kenburns-bottom {
	-webkit-animation: kenburns-bottom 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-bottom 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translateY(15px);
            transform: scale(1.65) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translateY(15px);
            transform: scale(1.65) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}




.kenburns-bottom-right {
	-webkit-animation: kenburns-bottom-right 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-bottom-right 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(50px, 15px);
            transform: scale(1.65) translate(50px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 84%;
            transform-origin: 84% 84%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(50px, 15px);
            transform: scale(1.65) translate(50px, 15px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
  }
}







.kenburns-left {
	-webkit-animation: kenburns-left 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-left 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, 15px);
            transform: scale(1.65) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.65) translate(-20px, 15px);
            transform: scale(1.65) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}




.kenburns-right {
	-webkit-animation: kenburns-right 10s ease-in-out infinite alternate-reverse both;
	        animation: kenburns-right 10s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.65) translateX(20px);
            transform: scale(1.65) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.65) translateX(20px);
            transform: scale(1.65) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
